* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(151.79deg, #0f2b05 4.34%, #000000 87.6%);
  height: 100%;
  text-align: center;
}
header {
  padding: 75px 0;
  text-align: center;
}
.card {
  width: 354px;
  height: 508px;
  background-image: url(./assets/bg-explorer.svg);
  display: inline-block;
  cursor: pointer;

  opacity: 0;
  transform: translateY(-100px);
  animation: appear 0.8s forwards;
  user-select: none;
  -webkit-user-select: none;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f7dd43;
  margin-top: 115px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.info {
  margin-top: 98px;
  color: #fff;
  margin-left: 70px;
  text-align: left;
}
.info h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
.info p {
  font-size: 14px;
  line-height: 160%;
}
@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
